h1 {
  text-align: center;
  color: rgb(1, 174, 255);
}

p.lead {
  text-align: center;
}

h3 {
  text-align: center;
  color: rgba(45, 185, 250, 0.979);
}

h5 {
  text-align: center;
  color: rgb(107, 201, 255);
}

p {
  text-align: justify;
}

img {
  display: block;
  margin: 0 auto;
}

img.opacity-50 {
  opacity: 0.5;
}
